doctype html
html
    head
        title Create/Update hijo
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-container
            h1 Create/Update  hijo
            a(href="/") Back to list 
            br
           
            br
            form(action="/create" method="post")
                div.form-group
                    label(for="nombre") Nombre
                    input(type="text" id="nombre" name="nombre")
                div.form-group
                    label(for="edad") Edad
                    input(type="number" id="edad" name="edad")
                div.form-group
                    label(for="sexo") Sexo
                    input(type="text" id="sexo" name="sexo")
                div.form-group
                    label(for="sexo") Sexo
                    input(type="text" id="sexo" name="sexo")
                button(type="submit") Submit